*
  margin: 0
  padding: 0
  box-sizing: border-box !important

html, body
  height: 100%

body
  display: table
  width: 100%
  height: 100%
  background-color: #000000
  color: #000
  line-height: 1.6
  position: relative
  font-family: sans-serif
  overflow: hidden

.lines
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 100%
  margin: auto
  width: 90vw
  
.line
  position: absolute
  width: 4px
  height: 120%
  top: 0
  left: 50%
  // change this to remove line to background color of body
  background: #2f2f2f
  overflow: hidden

  &::after
    content: ''
    display: block
    position: absolute
    height: 10vh
    width: 100%
    top: -50%
    left: 0
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, #ffffff 75%, #ffffff 100%)
    animation: drop 3s 0s infinite
    animation-fill-mode: forwards
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.27)


  // dirty fix find better way to do this
  $sizes: 1 1.3s 40% #18CAE6, 2 0.5s 45% #FFFFFF, 3 1.9s 50% #DF740C

  @each $num, $duration, $spot, $color in $sizes
    &:nth-child(#{$num})
      margin-left: #{$spot}
      &::after
        animation-delay: #{$duration}
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, $color 75%, $color 100%)


@keyframes drop
  0%
    top: -30%
  100%
    top: 100%